@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Everything */

* {
    text-transform: uppercase;
}

/* Body */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Every image*/

img {
    margin-top: 7em;
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    width: 90%;
    margin: 0 auto;
}

/* Typography */

h1 {
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: 7px;
}

/* "Dat Do" */

.title {
    font-weight: 900;
    font-size: 2.75rem;
    color: #F8F8FF;
    letter-spacing: 10px;
}

/* Intro below the name */

.intro {
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: 700;
    color: #F8F8FF;
}

/* "Read More" button */

.button {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    color: #DDD;
}

.button-accent:hover,
.button-accent:focus {
    background-color: darkgoldenrod;
}

/* Navigation Bar */

nav {
    position: fixed;
}

nav.black {
    background: #CCC;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    font-size: 1.1rem;
    padding: .5em;
    color: goldenrod;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #DDD;
}

nav ul li a:after {
    background-color: transparent;
}

nav ul li a.active:after {
    background-color: transparent;
}

/* home-hero */

.home-hero {
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    padding-bottom: 60px;
    color: #DDD;
}

/* home-about */

.home-about {
    background-color: #A9A9A9;
    background-size: cover;
    padding: 30px;
}

/* home-about-textbox */

.home-about-textbox {
    padding: .5em;
    letter-spacing: 2px;
}

.home-about-textbox p {
    outline: 2px solid #DDD;
    outline-offset: 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 2.5em;
}

/* portfolio */

.portfolio {
    background-color: #778899;
    background-size: cover;
    padding: 30px;
    padding-bottom: 70px;
}

/* Portfolio Buttons */
button.accordion {
    background-color: #F5F5F5;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: 0 solid black;
    border-radius: 3px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 600;
}

button.accordion.active, 
button.accordion:hover {
    background-image: url(../images/portfolio_background.jpg);
    background-size: cover;
    color: white;
}

button.accordion:after {
    content: '\25bc';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\25b2";
    color: white;
}

/* Panels when Portfolio Buttons are clicked */
.panel {
    padding: 0 18px;
    background-color: #ddd;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.panel.show {
    opacity: 1;
    max-height: 500px;  
    padding: 30px;
}

.panel.hide {
    opacity: 0;
    height: 0;  
}

.panel img {
    margin-top: 0.25em;
}

/* future */

.future {
    background-color: #A9A9A9;
    padding: 30px;
    padding-bottom: 40px;
    background-size: cover;
}

/* List in future section */
i.bullet {
    margin-right: 0.4em;
    font-size: 1.4em;
}

/* connect */

.connect {
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: black;
}

/* contact page */

.contact {
    text-align: left;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 45px;
    margin: 0 auto;
}

.contact h1 {
    padding-top: 65px;
}

textarea, input {
    text-transform: none;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a dark golden rod color */
button[type=submit]:hover {
    background-color: darkgoldenrod;
}

/* Reset button */
button[type=reset] {
    font-size: 8px;
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Nav Bar Changes */
@media (max-width: 32.9rem) {
    #contact-nav {
        background-color: #CCC;
    }
}

/* PathFinding Page */

table {
    border-collapse: collapse;
}

td {
    border: 1px solid;
    width: 17px;
    height: 17px;
}

td.highlighted {
  background-color: red;
}

.pathfind {
    text-align: left;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 50px;
    margin: 0 auto;
}

.pathfind h1 {
    padding-top: 10px;
}

#instructions {
    font-weight: bold;
    margin-bottom: 7px;
}

#okButton {
    padding: 3px;
}

#clearButton {
    padding: 3px;
}

#done {
    display: inline-block;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 5px;
}

#done:hover {
    background-color: darkgoldenrod;
}

#reset {
    display: inline-block;
    font-size: 12px;
    background-color: grey;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
}

@media (max-width: 630px) {
    td {
    border: 1px solid;
    width: 20px;
    height: 20px;
    }

    .pathfind {
    padding: 45px;
    }

    .pathfind h1 {
    padding-top: 65px;
    }
}


/* footer */

footer {
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}